[submodule "operating-system"]
	path = operating-system
	url = https://github.com/Fr4nk1inCs/ustc-os-2022.git
    branch = master
[submodule "computer-organization"]
	path = computer-organization
	url = https://github.com/Fr4nk1inCs/ustc-cod-2022.git
    branch = master
[submodule "intro-to-computing-system"]
	path = intro-to-computing-system
	url = https://github.com/Fr4nk1inCs/ustc-ics-2021.git
    branch = main
[submodule "compiler"]
	path = compiler
	url = https://github.com/Fr4nk1inCs/ustc-compiler-2022.git
    branch = master
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
    branch = algorithm
[submodule "database"]
	path = database
	url = https://github.com/Fr4nk1inCs/ustc-database-2023.git
    branch = master
[submodule "ai-fundamental"]
	path = ai-fundamental
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
    branch = ai-fundamental
[submodule "parallel-computing"]
	path = parallel-computing
	url = https://github.com/Fr4nk1inCs/ustc-parallel-computing-2023.git
    branch = master
[submodule "digital-logic-lab"]
	path = digital-logic-lab
	url = https://github.com/Fr4nk1inCs/ustc-digital-logic-lab-2021.git
    branch = master
[submodule "web-info"]
	path = web-info
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
    branch = web-info
[submodule "data-privacy"]
	path = data-privacy
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
    branch = data-privacy
[submodule "quantum-computing"]
	path = quantum-computing
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
	branch = quantum-computing
[submodule "ai-practice"]
	path = ai-practice
	url = https://github.com/Fr4nk1inCs/ustc-coursework-collection.git
	branch = ai-practice
